header {
    width: 100%;
    background: #ffffff;
    height: 80px;
}

.menu {
    list-style: none;
    position: absolute;
    top: 15px;
    right: 40px;
    font-family: 'Bookman Old Style';
    font-size: 20px;
}

.logo {
    position: relative;
    left: 40px;
    top: 6.5px;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #00072f;
    --bs-nav-link-hover-color: #00072f;
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    font-weight: 700;
    color: #cc5722;
    border-bottom-color: currentcolor;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #00072f;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}




.sec-top .wrapper {
    top: 80px;
    height: 420px;
    width: 100%;
    background: transparent url(../Img/Баннер.svg) no-repeat center;
    background-size: cover;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 133px;
}

.sec-top .H2 {
    font-family: 'Bookman Old Style';
    font-size: 96px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1;
    margin-left: calc(50% - 100px);
}

.sec-top .top-header-wrapper {
    width: 646px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.sec-top .top-header-wrapper .H1 {
    font-family: 'Bookman Old Style';
    font-size: 96px;
    font-weight: 700;
    color: #CC5722;
    line-height: 1;
    margin-right: 30px;
}

.sec-top .top-header-wrapper .H3 {
    font-family: 'Bookman Old Style';
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    color: #B7B4BC;
    line-height: 23px;
    margin-top: auto;
    height: 75px;
}







.sec-1 {
    background: #00072F;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}


.sec-1 .h1 {
    font-family: 'Bookman Old Style';
    font-size: 32px;
    color: #CC5722;
    text-align: center;
    font-weight: normal;
    line-height: 40px;
    height: 80px;
}

.sec-1 .text {
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 35px;
    margin-top: 48px;
}

.sec-1 .card-1 {
    transition: transform .2s;
    width: 325px;
    background: #fff;
    color: #00072F;
    border-radius: 40px;
    padding: 21px;
    height: 100%;
    max-width: 100%;
}

.sec-1 .card-1:hover {
    transform: scale(1.1);
}





.footer {
    background-color: #00072F;
    color: #333;
    display: flex;
}

.footer-all .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}



.footer-nav {
    display: flex;
    gap: 20px;
}

.nav-link2 {
    color: #8E8E8E;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-link2:hover {
    color: #ffffff;
}

.footer-all {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-all .footer-content {
    max-width: 100%;
    padding-top: 40px;

}

.footer-all .footer-content .footer-text {
    margin-bottom: 20px;
    font-size: 16px;
    color: #8E8E8E;
}

.footer-all .footer-content .footer-copyright {
    font-size: 14px;
    color: #666;
    border-top: 1px solid #ddd;
    text-align: center;
    padding-top: 10px;
}







.title-page {
    background-color: #fff;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    ;

}


.title-page .title-page-text {
    font-family: 'Bookman Old Style';
    font-size: 48px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    text-align: center;
}

.title-page .title-page-line-left {
    margin-top: 36px;
    margin-right: 0;
    width: 40%;
    height: 2px;
    background-color: #00072F;
}

.title-page .title-page-line-right {
    margin-top: 36px;
    margin-right: 0;
    width: 40%;
    height: 2px;
    background-color: #00072F;
}


.card-2 {
    background-color: #00072F;
    border-radius: 40px;
    height: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

.sec-card-2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-bottom: 40px;
    padding-top: 20px;
}

.card-2 .card-header {
    font-family: 'Bookman Old Style';
    font-size: 34px;
    color: #CC5722;
    padding-bottom: 10px;
    font-weight: 600;
}

.card-2 .card-text-1 {
    font-family: 'Roboto';
    font-size: 22px;
    color: #fff;
    line-height: 32px;
    padding-bottom: 30px;

}

.card-3 {
    background-color: #fff;
    border-radius: 40px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-color: #00072F;
}

.card-3 .purp {
    padding-bottom: 30px;
}

.card-3 .mission {
    padding-bottom: 30px;
}

.card-3 .card-header {
    font-family: 'Bookman Old Style';
    font-size: 34px;
    color: #CC5722;
    padding-bottom: 30px;
    font-weight: 600;

}

.card-3 .card-text-2 {
    font-family: 'Roboto';
    font-size: 22px;
    color: #00072F;
    line-height: 32px;
}

.card-3 .purpose {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background: #00072F;
    height: 100%;
    max-width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}

.card-3 .purpose .sec-purpose .purpose-header {
    font-family: 'Bookman Old Style';
    font-size: 30px;
    color: #CC5722;
    text-align: center
}

.card-3 .purpose .sec-purpose .purpose-text {
    font-family: 'Roboto';
    font-size: 22px;
    color: #ffffff;
    padding-top: 20px;
    line-height: 32px;
}

.sec-card-2 .task {
    display: flex;
    width: 100%;
}

img,
svg {
    vertical-align: middle;
    margin-right: 15px;
}

.card-2 .sec-card-2 .stages-main {
    font-family: 'Bookman Old Style';
    font-size: 28px;
    color: #fff;
    text-align: center;
}

.card-2 .sec-card-2 .card-stages-text {
    font-family: 'Bookman Old Style';
    font-size: 22px;
    color: #fff;
    line-height: 32px;
    margin-top: 50px;
}


.teacher {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    margin-top: 8px;
    font-family: 'Bookman Old Style';
    font-size: 32px;
    color: #fff;
}


.pepeople-all {
    background-color: #00072F;
}

.pepeople-all .member-all {
    margin-top: 120px;
}

.pepeople-all .member-all .members {
    padding-top: 50px;
    padding-bottom: 50px;
}



.title-page2 {
    background-color: #00072F;
    display: flex;
    padding-top: 20px;

}

.title-page2 .title-page-text2 {
    font-family: 'Bookman Old Style';
    font-size: 48px;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    background-color: #00072F;
    text-align: center;
}

.title-page2 .title-page-line-left2 {
    margin-top: 36px;
    margin-right: 0;
    width: 40%;
    height: 2px;
    background-color: #ffffff;
}

.title-page2 .title-page-line-right2 {
    margin-top: 36px;
    margin-right: 0;
    width: 40%;
    height: 2px;
    background-color: #ffffff;
}

.pepeople-all .text-members {
    font-family: 'Roboto';
    font-size: 42px;
    color: #CC5722;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 160px;
}


.card-text-resources a {
    font-family: 'Bookman Old Style';
    font-style: italic;
    font-weight: 100;
    color: #ffffff;
    font-size: 28px;

}


.title-page-resources {
    background-color: #ffffff;
    display: flex;
    padding-top: 20px;
    padding-bottom: 80px;

}

.title-page-resources .title-page-text {
    font-family: 'Bookman Old Style';
    font-size: 48px;
    color: #00072F;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    text-align: center;
}

.title-page-resources .title-page-line-left {
    margin-top: 36px;
    margin-right: 0;
    width: 40%;
    height: 2px;
    background-color: #00072F;
}

.title-page-resources .title-page-line-right {
    margin-top: 36px;
    margin-right: 0;
    width: 40%;
    height: 2px;
    background-color: #00072F;
}



.card-journal {
    margin-left: auto;
    margin-right: auto;
    background-color: #00072F;
    border-radius: 40px;
    width: 95%;
    padding: 40px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.card-journal-all {
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-journal-all .card-journal-content {
    width: 40%;
}

.card-journal-all .card-journal-content .card-journal-header {
    font-family: 'Bookman Old Style', serif;
    font-size: 36px;
    color: #CC5722;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-journal-all .card-journal-content .card-journal-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #ffffff;
    line-height: 1.4;
}

.card-journal-all .kon {
    margin-top: -190px;
}

.card-journal-all .fron {
    margin-top: -390px;
}

.step {
    margin-top: 150px;
    margin-bottom: 80px;
}